body {
  background-image: url("mo.JPG");
  background-position: center;
  background-size: 30%;
  animation: scrollBackground 10s linear infinite;
}

@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
